#navbar{
    flex-direction: column;
}
#home{
    width: 300px;
    top:250px;
}
h1.h-primarycenter {
    font-size: 3.3rem;
    width: 100%;
}
.services-container {
    margin: 488px 0px;
    width: 120vw;
}
#navbar::before {
    width: 100%;
    padding: 0px 90px;
}
#services .box img{
    height: 250px;
    width: 350px;
    margin: auto;
    display: block;
    border-radius: 12px;
}
#services .box img:hover{
    width: 350px;
    height: 300px;
    border-radius: 40px;
    transition: all 250ms ease-in-out 0s;
}


